# Database
DATABASE_URL="postgresql://user:password@host.database.azure.com/neondb?sslmode=require"

# Authentication
JWT_SECRET="your-super-secret-key-must-be-at-least-32-characters-long"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="another-super-secret-key-must-be-at-least-32-characters"
REFRESH_TOKEN_EXPIRES_IN="7d"

# Application
NUXT_PUBLIC_APP_URL="http://localhost:3000"
NUXT_PUBLIC_APP_NAME="Finances Nuxt"

# Test User (para development)
TEST_USER_EMAIL="teste@finances.com"
TEST_USER_PASSWORD="Teste123"
TEST_USER_NAME="Usuario Teste"

# Optional
# SENTRY_DSN=""
# ANALYTICS_ID=""
